
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.navbar {
    margin-bottom: 20px;
}

.carousel-inner img {
    max-width: 15%  ;
    height: 150px;
    display: block;
    margin: 0 auto;
}

#game-list .card {
    margin-bottom: 20px;
}


.container {
    max-width: 600px;
}

#contact-form .form-group {
    margin-bottom: 15px;
}


#review-form .form-group {

    margin-bottom: 15px;
}


.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.cart-item p {
    margin: 0;
}
.cart-item select {
    margin-left: 10px;
}
.remove-from-cart {
    padding: 5px 10px;
}

#cart-items-dropdown {
    max-height: 200px;
    overflow-y: auto;
}

#map-container {
    height: 350px;
    max-width: 600px; /* Maksymalna szerokość kontenera */
    margin: 0 auto; /* Wyśrodkowanie kontenera */
}